common --enable_platform_specific_config

build --dynamic_mode=off
build --experimental_platform_in_output_dir
build --incompatible_strict_action_env
build --compilation_mode=opt

build:linux --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:linux --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:linux --host_action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:linux --platforms @zig_sdk//libc_aware/platform:linux_amd64_musl

build:linux --features=thin_lto
# ThinLTO feature doesn't exist in Zig toolchain, so we must set the flags manually.
# It also doesn't support LTO on darwin targets, so we can't set this globally.
# Instead, we configure copt/linkopt inside the toolchain itself (with a WORKSPACE patch).
#build --copt -flto=thin

# Compilation Flags
build:linux --strip=always
build:linux --copt -ffunction-sections
build:linux --copt -fdata-sections

# Windows specific
build:windows --noincompatible_enable_cc_toolchain_resolution
build:windows --copt /wd4005
